# Gitignore

# Directories
build/
.vscode/

# Files
/elevator
/SimElevatorServer
/simulator.con
drivers/elevio.con

.vscode/c_cpp_properties.json
.vscode/settings.json
.vscode/tasks.json

## Prevent MacOS clutter (.DS_Store files contain information about folder structure, etc)
.DS_Store